body {
    margin: 0;
    background-color: white;
}

.header_navemeny {
    width: 100%;
    height: 5rem;
    top: 0%;
    display: flex;
    align-items: center;
    background-color: white;
}

.navlinks {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_navemeny img {
    width: 170px;
    padding-top: 3rem;
}

.navlinks li {
    display: inline;
    padding: 4rem;
    margin: 0 20px;
}

.navlinks a {
    text-decoration: none;
    color: #3DA1EE;
    font-size: 1.2rem;

}


.toggle-button {
    position: absolute;
    top: .75rem;
    display: none;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #3DA1EE;
    border-radius: 10px;
}


.aboutpage_main_section {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutpage_section_text {
    text-align: center;
    width: 40rem;
    height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3%;
}

.aboutpage_section_text h1 {
    color: #3DA1EE;
    font-size: 1.2rem;
    padding-bottom: 0.7rem;

}

.aboutpage_section_text p {
    color: #3DA1EE;
    font-size: 1.0rem;
}

.timeline-section{
    background-color:white;
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before{
    content: '';
    position:absolute;
    width: 2px;
    height: 100%;
    background-color:blue;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: orange;
    position:absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
}
.timeline-date{
    font-size: 18px;
    color: orange;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: black;
    padding: 30px;
    border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
    color:orange;
    font-weight:500;
}
.timeline-content p{
    font-size: 16px;
    color:orange ;
    font-weight:300;
    line-height: 22px;
}
.footer{
    width: 100%;
    height: 8rem;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 0;
}
.footer li{
    color: blue;
    font-weight: bold;
    display: inline-block;
    list-style: none;
}
.footer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}









@media screen and (max-width:545px) {
    .toggle-button {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    .header_navemeny {
        flex-direction: row;
        align-items: center;
    }

    .header_navemeny img {
        width: 120px;
        padding: 0;
    }

    .aboutpage_section_text {
        width: 25rem;
        height: 14rem;
    }
    .navlinks li{
        padding: 0.7rem;
        margin: 0;
    }
    .navlinks.active {  
        display: flex;
        width: 100%;
        height: 3rem;
        justify-content: space-evenly;

    }
    .timeline-items::before{
        left:  7px;
     }
     .timeline-item:nth-child(odd){
         padding-right: 0;
         text-align: left;
     }
     .timeline-item:nth-child(odd),
     .timeline-item:nth-child(even) {
         padding-left: 37px;
     }
     .timeline-dot{
         left: 0;
     }
 
     .footer img{
         display: none;
     }
     .footer ul {
         gap: 2rem;
     }
    
}
